APPS_SCRIPT_URL=your_google_apps_script_url
DEALING_SHEET_URL=your_dealing_sheet_url
SCHEDULING_SHEET_URL=your_scheduling_sheet_url
ECOMM_SHEET_URL=your_ecomm_sheet_url
ECOMM_DETAIL_SHEET_URL=your_ecomm_detail_sheet_url
